@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@layer components {
  .page-title {
    @apply font-primary md:text-3xl text-5xl text-left pb-3;
  }
  .page-sub-title {
    @apply font-primary md:text-2xl text-4xl text-left pb-3;
  }
  .page-text {
    @apply font-body md:text-base text-xl;
  }
  .page-link-button {
    @apply border-2 border-theme-black dark:border-theme-white px-4 py-2 font-primary md:text-xl text-2xl mt-5 mr-5 transition-colors duration-300;
  }
  .page-big-link {
    @apply flex justify-start font-primary md:text-2xl text-3xl text-left;
  }
  .polka-bg {
    @apply bg-theme-white dark:bg-theme-black opacity-100 bg-polka bg-[10px_10px] bg-[0_0,5px_5px];
  }
  .wave-bg {
    @apply pattern-wavy pattern-theme-grey pattern-bg-theme-white dark:pattern-theme-darkblack dark:pattern-bg-theme-black pattern-size-4 pattern-opacity-100;
  }
  .theme-change * {
    @apply transition-colors ease-in-out;
  }
}

::selection {
  color: #f1f1f1;
  background: #e6b800;
}
* {
  cursor: none;
}
