.htc-0 {
  color: #ffd015;
}
.htc-0 {
  color: #ffd015;
}
.htc-1 {
  color: #ffcf0b;
}
.htc-2 {
  color: #ffcd02;
}
.htc-3 {
  color: #f1c100;
}
.htc-4 {
  color: #eabc00;
}
.htc-5 {
  color: #e4b600;
}
.htc-6 {
  color: #000000;
}
.htc-7 {
  color: #369777;
}
.htc-8 {
  color: #1f8e6a;
}
.htc-9 {
  color: #178b65;
}
.htc-10 {
  color: #0e8860;
}
.htc-11 {
  color: #0a865d;
}
.htc-12 {
  color: #05855b;
}
